[Desktop Entry]
Encoding=UTF-8
Name=MX Tour
Name[ca]=
Name[de]=
Name[el]=
Name[es]=
Name[fr]=
Name[hi]=
Name[id]=
Name[it]=
Name[ja]=
Name[nl]=
Name[pl]=
Name[pt_br]=
Name[ru]=
Name[sv]=
Comment=Explore MX Linux 21 Xfce Edition.
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[hi]=
Comment[id]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[pl]=
Comment[pt_br]=
Comment[ru]=
Comment[sv]=
Exec=mx-tour
Type=Application
Icon=mx-tour.svg
Categories=System;MX-Setup;
Terminal=false
NoDisplay=false
StartupNotify=false
