[Desktop Entry]
Encoding=UTF-8
Name=MX Tour
Name[ca]=
Name[de]=MX Tour
Name[el]=
Name[es]=Paseo MX
Name[fr]=Faire le tour de MX
Name[fr_BE]=Faire le tour de MX 
Name[hi]=
Name[id]=
Name[it]=MX Tour
Name[ja]=
Name[nl]=MX Rondleiding
Name[pl]=
Name[pt_BR]=
Name[ru]=
Name[sv]=MX Rundtur
Name[tr]=MX Turu
Comment=Explore and learn about MX Linux
Comment[ca]=
Comment[de]=Entdecke MX Linux und lernen es kennen
Comment[el]=
Comment[es]=Explore y aprenda acerca de MX Linux
Comment[fr]=Découvrir et apprendre MX Linux
Comment[fr_BE]=Découvrir et apprendre MX Linux
Comment[hi]=
Comment[id]=
Comment[it]=Scopri MX Linux
Comment[ja]=
Comment[nl]=Ontdek en leer over MX Linux
Comment[pl]=
Comment[pt_BR]=
Comment[ru]=
Comment[sv]=Upptäck och lär om MX Linux
Comment[tr]=MX Linux'u keşfedin ve öğrenin
Exec=mx-tour
Type=Application
Icon=mx-tour.svg
Categories=System;MX-Setup;
Terminal=false
NoDisplay=false
StartupNotify=false
